.form-wrapper{
    display: flex;
    flex-direction: column;
    min-width: 30vw;
    padding: 20px;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
    overflow: hidden;
    background-color: none;
    margin: 25vh;
}
.form-group{
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    align-content: center;
    background-color: rgb(0, 0, 0);
}
form{
    width: 250px;
    padding: 20px;
    text-align: center;

}
input{
    margin-top: 12px ;
    height: 25px;
    width: 200px;
  }

.button-wrapper{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    align-items: center;
    align-content: center;
}
